body {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.grid {
  display: flex;
  flex-direction: column-reverse;
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.column {
  display: flex;
  flex: 1;
}

.square {
  background-color: white;
  flex: 1;
  border: 1px solid black;
  cursor: pointer;
}

.square:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.hit {
  position: relative;
}

.hit::after {
  content: 'X';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}
